{% extends 'd_admin.html' %}
{% load static %}
{% block m1 %}

<style>body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	}


input{
	margin:10px;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}

</style>



<h1>Delete Student</h1>
{% if data %}
{% for k in data %}
<form method="post" action="../delete_student_admin1/">
  {% csrf_token %}
  <table width="34%">
  <p><tr><td>Name:</td><td><input type="text" name="T1" value="{{k.name}}"></td></tr></p>
 <p><tr><td>Address:</td><td><input type="text" name="T2" value="{{k.address}}"></td></tr></p>
  <p><tr><td>Contact:</td><td><input type="text" name="T3" value="{{k.contact}}"></td></tr></p>
  <p><tr><td>Email:</td><td><input type="text" name="T4" value="{{k.email}}"></td></tr></p>
      <tr><td><button type="submit" name="B1" ></button></td></tr>
    </table>
</form>

{% endfor %}
{% endif %}
<button><a href="../admin_home"><img src="../static/photo/back.svg">BACK</a> </button>
{% endblock %}