{% extends 'd_operator.html' %}
{% load static %}
{% block m1 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<style>
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

	}


input{
	margin:10px;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#6FC;
	}

button{
	box-sizing:border-box;
     border-radius:10px;
	 margin:8px;
	 font-size:20px;
	 background-color:#0CF;
	 color:#FFF;
	}
button:hover{
	background-color:#30F;

}
</style>
</head>

<body>
<center>

<h1>Student Registration</h1>
<hr />
<body>
<center>

<form class="s" onSubmit="return a()" method="post" action="../student_reg_operator/">
{% csrf_token %}
    <table width="34%">
<p><tr><td>NAME:</td><td><input type="text" id="txt1" name="T1"  /><br><span  id="sp1" style="color:#F30 "></span></td></tr></p>
<p><tr><td>ADDRESS:</td><td><input type="text" id="txt2" name="T2" /><span id="sp2"></span></td></tr></p>
<p><tr><td>CONTACT:</td><td><input type="text" id="txt3" name="T3" /><span id="sp3"></span></td></tr></p>
<p><tr><td>EMAIL:</td><td><input type="text" id="txt4" name="T4" /><span id="sp4"></span></td></tr></p>
<p><tr><td>PASSWORD:</td><td><input type="password" id="txt5" style='' name="T5" /><span id="sp5"></span></td></tr></p>
<p><tr><td>CONFIRM PASSWORD:</td><td><input type="password" id="txt6" name="T6" /><span id="sp6"></span></td></tr></p>
<p><tr><td><button type="submit" id="bt1">REGISTER</button></td></tr></p>
    </table>

</form>
</center>


<script>

function a()
{
	var t1,t2,t3,t4,t5,t6,e1,e2,e3,e4,e5,e6;
	t1=document.getElementById("txt1");
	t2=document.getElementById("txt2");
	t3=document.getElementById("txt3");
	t4=document.getElementById("txt4");
	t5=document.getElementById("txt5");
	t6=document.getElementById("txt6");
	e1=document.getElementById("sp1");
	e2=document.getElementById("sp2");
	e3=document.getElementById("sp3");
	e4=document.getElementById("sp4");
	e5=document.getElementById("sp5");
	e6=document.getElementById("sp6");


	var a,b,c,d,e,f;
	a=t1.value;
	b=t2.value;
	c=t3.value;
	d=t4.value;
	e=t5.value;
	f=t6.value;

	e1.innerHTML="";
	e2.innerHTML="";
	e3.innerHTML="";
	e4.innerHTML="";
	e5.innerHTML="";
	e6.innerHTML="";

	if(a==null || a=="")
	{
		e1.innerHTML="*Enter Name";
		t1.focus();
		return false;
	}
	else if(saquib(a)==false)
	{
		e1.innerHTML="only alphabets";
		t1.select();
		return false;
	}
	if(b==null || b=="")
	{
		e2.innerHTML="Enter Address";
		t2.focus();
		return false;
	}
	if(c==null || c=="")
	{
		e3.innerHTML="Enter Contact";
		t3.focus();
		return false;
	}
	else if(javed(c)==false)
	{
		e3.innerHTML="enter only digit";
		t3.select();
		return false;
	}
	else if(anas(c,6000000000,9999999999)==false)
	{
		e3.innerHTML="enter valid contact";
		t3.select();
		return false;
	}
	if(d==null || d=="")
	{
		e4.innerHTML="Enter Email";
		t4.focus();
		return false;
	}
	else if(checkEmail(d)==false)
	{
		e4.innerHTML="enter valid email";
		t4.select();
		return false;
	}


	if(e==null || e=="")
	{
		e5.innerHTML="Enter Password";
		t5.focus();
		return false;
	}
	if(f==null || f=="")
	{
		e6.innerHTML="Enter Confirm Password";
		t6.focus();
		return false;
	}
	else if(sj(e,f)==false)
	{
		e5.innerHTML="password does not match";
		t5.value="";
		t6.value="";
		t5.focus();
		return false;
	}
}
function saquib(str)
{
	var f=true;
	for(var i=0;i<str.length;i++)
	{
		var ch=str.charAt(i);
		if(ch>='a' && ch<='z' || ch>='A' && ch<='Z' || ch==' ')
		{
			f=true;
		}
		else
		{
			f=false;
			break;
		}
	}
	return f;
}
function javed(str)
{
	var f=true;
	for(var i=0;i<str.length;i++)
	{
		var ch=str.charAt(i);
		if(ch>='0' && ch<='9')
		{
			f=true;
		}
		else
		{
			f=false;
			break;
		}

	}
	return f;
}
function anas(v,mn,mx)
{
	if(v<mn || v>mx)
	{
		return false;
	}
	else
	{
		return true;
	}
}
function sj(p1,p2)
{
	if(p1==p2)
	{
		return true;
	}
	else
	{
		return false;
	}
}
function checkEmail(ch)
{

	if(/^\w*[@]\w{5}[.]com$/.test(ch))
	{
	 return true;
	}
	else
	{
		return false;
	}

}


</script>

</body>

</html>

<button><a href="../admin_home"><img src="../static/photo/back.svg">BACK</a> </button>
{% endblock %}
